/* #myaccount-login-form .panel-body{min-height:535px;} */
.form-item:empty{
display:none !important;
}
/*-----login section-------*/
.login-box .panel-body{
padding:15px 40px 15px 40px;
}
.login-box strong{
font-family:"helvitca-regular";
font-size:30px;
color:#73559e;
font-weight:400;
}
.login-box span{
font-family:"helvitca-bold";
font-size:18px;
color:#009fe3;
display:block;
}
.login-box  img{
margin:30px 0 30px 0;
}
.login-box .form-control{
border-radius:0;
font-size:18px;
height:40px;
}

.login-box  .form-item-condtion{
width:50%;
text-align:left;
float:left;
}
.login-box #edit-forgot-password-link{
width:50%;
text-align:right;
float:left;
margin:10px 0;
}
.login-box #edit-forgot-password-link a{
font-family:"helvitca-regular";
font-size:15px;
color:#009fe3;
}
.submit-order{
float:left;
display:block;
width:100%;
margin-top:10px;
margin-bottom:20px !important;
}
.login-box  .form-item-condtion label{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}

/*-----register section-------*/
.register-box .panel-body{
padding:15px 40px 15px 40px;
}
.register-box strong{
font-family:"helvitca-regular";
font-size:30px;
color:#73559e;
font-weight:400;
}
.register-box span{
font-family:"helvitca-bold";
font-size:18px;
color:#009fe3;
display:block;
}
.register-box p{
font-family:"helvitca-bold";
font-size:18px;
color:#706f6f;
display:block;
}
.register-box img{
margin:30px 0 30px 0;
}
.register-box ul {
    list-style-image: url('../images/list-style.png');
	text-align:left;
	padding-left: 60px;
	margin-bottom: 35px;
}
.register-box ul  li{
font-family:"helvitca-regular";
font-size:18px;
color:#706f6f;
}
#edit-reg-link{
margin-bottom:30px;
}
#edit-reg-description{text-align:left;}

.reg-help p{
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
}
.reg-help strong {
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
	margin-bottom: 5px;
	display:block;
}
.reg-help .panel-body {
    padding: 30px 40px 30px 40px;
}
.reg-box .panel-body {
    padding: 30px 40px 30px 40px;
}
.reg-box .form-control{
border-radius:0; 
font-size:18px;
height:40px;
}
.reg-box label {
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
	margin-bottom:15px;
}
.reg-box .form-item-mobile-number{margin-bottom:25px !important;}
/*---forgot password---*/

.fpwd-box strong{
    font-family: "helvitca-regular";
    font-size: 24px;
    color: #73559e;
    font-weight: 400;
}
.verify-help strong{
    font-family: "helvitca-regular";
    font-size: 24px;
    color: #73559e;
    font-weight: 400;
}
.verify-help label{
margin-bottom:0;
}
.verify-help span{
    font-family: "helvitca-regular";
    font-size: 16px;
    color: #706f6f;
	display:block;
}
.verify-help span a{
    font-family: "helvitca-regular";
    font-size: 15px;
    color: #009fe3;
}
.verify-help .panel-body {
    padding: 30px 40px 30px 40px;
}
.verify-box .panel-body {
    padding: 30px 40px 30px 40px;
}
.verify-box strong {
    font-family: "helvitca-regular";
    font-size: 24px;
    color: #73559e;
    font-weight: 400;
}
.verify-box label{
margin-bottom:15px;
}
.verify-box .form-control{
border-radius:0;
height:40px;
font-size:18px;
}
.verify-box .form-item-verification-code{
margin-bottom:25px;
}
#myaccount-reg-continue-form strong {
    font-family: "helvitca-regular";
    font-size:24px;
    color: #73559e;
    font-weight: 400;
}
#myaccount-reg-continue-form .form-group{
margin-bottom:15px;
}
#myaccount-reg-continue-form .form-control{
border-radius:0;
height:40px;
font-size:18px;
}
#edit-dob-title .form-item{
width:33.33%;
float:left;
display:block;
padding-left:5px;
padding-right:5px;
} 
#myaccount-reg-continue-form .dob .form-item:first-child{
padding-left:0;
}
#myaccount-reg-continue-form .dob .form-item:last-child{
padding-right:0;
}
#myaccount-reg-continue-form .panel-body{
padding:40px;
}
#myaccount-reg-continue-form .form-submit{
margin-top:20px;
}
#myaccount-reg-continue-form  label{
    font-family: "helvitca-bold";
    font-size:16px;
    color: #706f6f;
}
#myaccount-reg-continue-form .form-item-condition label{
    font-family: "helvitca-regular";
    font-size:16px;
    color: #706f6f;
}
.help-fpwd p {
    font-family: "helvitca-regular";
    font-size: 18px;
    color: #706f6f;
}
.help-fpwd label {
font-weight:400;
}
.help-fpwd .panel-body {
    padding: 25px 40px 25px 40px;
}
.fpwd-box > .panel > .panel-body {
    padding: 25px 40px 25px 40px;
}
.fpwd-box .form-control {
    border-radius: 0;
    font-size: 18px;
    height: 40px;
}
.fpwd-box label,.fpwd-box .panel-title{
    font-family: "helvitca-regular";
    font-size: 20px;
    color: #73559e;
    font-weight: 400;
    margin-bottom: 15px;
}
#myaccount-login-form  .login-box .form-type-textfield .control-label,#myaccount-login-form  .login-box .form-type-password .control-label{
display:none;
}

/* #myaccount-reg-continue-form .form-group{
width:50%;
padding-left:15px;
padding-right:15px;
float:left;
display:block;
} */